[2020-07-10 08:52] gautamkrishnar opened #1 "There should be an option to specify the username"
In the python code, I see that you are using INPUT_USERNAME envar but I cant see it specified in the readme.md file.

[2020-07-10 09:08] athul commented on #1
It defaults to the repo owner using a GitHub Actions Context variable `repo_owner`.

 You an override that by editing the username in your workflow file like

[code]

[2020-07-10 12:30] #1 closed

[2020-07-17 19:41] rajitbanerjee opened #7 "Header issue (inaccurate week stats)"
@athul Is there a way to change the header? It's actually not accurate. The Waka Time API returns metrics from the last 7 days from the current date, and not according to weeks of the year. @joe733 could you please modify the code so that the header displays the last 7 days: e.g. running the workflow on July 17 should return the header "Week: July 9 - July 16". I'm not sure what to do about the we

[2020-07-18 02:58] joe733 commented on #7
Oh I see.

I think it would be good to just drop it.

[2020-07-18 04:29] athul commented on #7
Hey @rajitbanerjee if You feel the issue was solved, feel free to close the Issue. 😄

Thanks for reporting this bug and thanks @joe733 for fixing it

[2020-07-18 04:33] #7 closed

[2020-07-18 04:46] athul opened #9 "Proposal : Header/ Heading with the Action"
Hey, I was hoping to add a Header for the metrics in the Readme section. Let's use GitHub Actions for the optional header part.
The way we'll use it is with the `actions.yml` file. We can add a new `inputs` called `Header` and default to "" . If the user want to add a Header, he could add one. This in case will not break any of the current users stats and won't cause any issues(I hope it doesn't).

[2020-07-18 04:54] athul opened #10 "Tests"
We may need to write tests to check it properly for any new update.

[2020-07-18 07:05] joe733 commented on #10
I don't know how to... but yea I'm interested to know how to write one.

[2020-07-18 07:09] joe733 commented on #9
Which header are we talking about?

This one?
![Screenshot from 2020-07-18 12-37-06](https://user-images.githubusercontent.com/38415384/87847174-83ad4400-c8f3-11ea-9e0f-1114f9a6cc49.png)

or this one?
![Screenshot from 2020-07-18 12-38-00](https://user-images.githubusercontent.com/38415384/87847181-9162c980-c8f3-11ea-93e0-d39057dd2607.png)

[2020-07-18 07:09] athul commented on #9
The former

[2020-07-18 07:19] joe733 commented on #9
[This](https://raw.githubusercontent.com/joe733/joe733/master/README.md) is the crooked :wink: way I'm using the header. I guess we'd have to do one more regex matching to locate it within readme.

[2020-07-18 07:26] athul commented on #9
This would be an exception I'd say. But hey if we are going to implement the Header should be optional

[2020-07-18 08:54] joe733 commented on #9
Yep, okay so the header is also passed in an an environment variable, right? and then...

[code]

this may work.

[2020-07-19 14:25] KhamkhaDeveloper opened #13 "Flow fails and says 401 Bad Cred"
Hey Athul, Congrats on developing this Github Action, Its Really Cool. Though I am facing some issue integrating into my profile.
PFA screenshot

[
<img width="1329" alt="Screenshot 2020-07-19 at 7 54 46 PM" src="https://user-images.githubusercontent.com/67491354/87877051-b5a8ce00-c9f9-11ea-8c1d-24cad7d5a5aa.png">
](url)

Thanks,
Deepak

[2020-07-19 15:16] athul commented on #13
Hey @KhamkhaDeveloper
I checked your Repo and the workflow file. This error message seems to say that there was an Authentication Error. This might happen if you passed a wrong GitHub API Key for executing the Action. The solution I'd say is **to remove the input for the API key for GitHub Actions rather use the API Key given by GitHub Actions itself.**

Some more tips
- Remove the Username input

[2020-07-19 15:33] KhamkhaDeveloper commented on #13
Thanks @athul for quick solution, I made a mistake in secret key. Problem solved.

[2020-07-19 15:33] #13 closed

[2020-07-20 09:21] guilyx opened #15 "Display bug with long "languages" names"
Hey !

**Display :**
[code]

**Description :**

The progress bars don't have equal lengths, and long names for tools used seems to create some issues as well. I haven't looked into your python code yet so I don't have any PR in mind, I just wanted to open this quick issue to report it.

[2020-07-20 17:20] athul commented on #15
Oh, haven't thought that this would cause a problem. I'm sorry for this bug. I'll bring up with a fix for this

[2020-07-20 17:20] athul commented on #15
Oh, haven't thought that this would cause a problem. I'm sorry for this bug. I'll bring up with a fix for this

[2020-07-20 18:10] athul commented on #15
I have a crude and unpolished way but I don't think this will be the better option since my option would be just to change this line

[code]

This is more of a hacky solution but in a long term it might clutter the readme if the user has only used languages with names less than 10. I'm open to suggestion and would be happy to get any feedback possible.

cc: @joe733

[2020-07-21 11:29] guilyx commented on #15
LGTM as a temporary hack
There's only so much names that could end up breaking it right? Each time it's reported you could add it to a enum class mapping the shortened versions of those long names.

i.e. Protocol Buffer should be Protobuf

Would require the community to make it grow

[2020-07-22 02:13] Stanley-Yao opened #17 "Hi, I still have problem with using it."
I really love this cool project. While I am trying that I have a problem with rendering the stuff in my personal Profile `Readme.md`
My code is like the following:

[code]

Thanks for your help.

[2020-07-22 04:05] athul commented on #17
Hey @Stanley-Yao ,
Is it possible to point us to the repo where the action is being run?

If it isn't being run anywhere try these methods
- Copy the WakaTime API key and paste it in the repo secrets
- After copying it in the secrets go here → https://github.com/Stanley-Yao/Stanley-Yao/actions and create a new workflow
- Replace the contents with the above code

[code]
I added `workflow_dispatch`

[2020-07-22 10:10] #15 closed

[2020-07-22 10:33] riginoommen opened #18 "Error with last build probably some issue with last commit."
![image](https://user-images.githubusercontent.com/3840244/88166308-b0839300-cc34-11ea-927f-a6dadd3aeefb.png)

[2020-07-22 11:13] athul commented on #18
Hey @riginoommen, I have a few speculations on why this is happening. I'm not sure which is the issue correctly but here you go
- that you might haven't saved the wakatime API key
- You have just started using wakatime and coding activity isn't updated till midnight.

[2020-07-22 11:15] Smartuil commented on #18
I have the same problem

[2020-07-22 11:23] gautamkrishnar commented on #18
@athul If I am inferring correctly, The `lang_data` array is empty in this case. Can you try out the workflow after signing up as a new user without any stats?

[2020-07-22 11:44] athul commented on #18
Yes, I just ran the code and it's due to the empty list, maybe a `if` condition will be enough to resolve the issue or a try except block? Try except could help us exit with a warning method

[2020-07-22 12:23] gautamkrishnar commented on #18
@athul Don't exit with a status > 1, Just put a console log to let the users wait till the next day or their data is empty.

[2020-07-22 14:36] athul commented on #18
So I guess I should remove all the `sys.exit(1)` from the code

[2020-07-22 14:57] gautamkrishnar commented on #18
@athul yes do exit(1) only when you have some required parameters error or API fetching error. Users will receive a notification via email whenever a job fails.

[2020-07-22 14:59] sebastiandg7 commented on #18
+1. Happening here too, with recently created account. Have you tested what happend when a user does not log any time for a week? Maybe this land_data array is also empty, I think you should write something like "No time tracked this week 😅".

[2020-07-22 15:27] athul commented on #18
Sorry for the bug. Sending a PR in a few mins

[2020-07-22 17:10] athul commented on #18
Hey @riginoommen @Smartuil @sebastiandg7 could you check and verify if its working?

[2020-07-22 17:45] riginoommen commented on #18
I verified it. Job is working fine in the logs but its not pulling the stats.i reverified the secrets also

![image](https://user-images.githubusercontent.com/3840244/88210038-2f96bc80-cc71-11ea-9fe2-bdcf77ca0327.png)

[2020-07-22 17:49] athul commented on #18
BTW @riginoommen did you start using it today?

If yes. Wait till 00.00 UTC since thats the time the API data gets updated

[2020-07-22 17:57] riginoommen commented on #18
I triggered this manually now still same results

[2020-07-22 17:59] athul commented on #18
I meant, Did you start using wakatime today?

[2020-07-22 18:05] riginoommen commented on #18
Yes

On Wed, 22 Jul 2020, 11:29 pm Athul Cyriac Ajay, <notifications@github.com>
wrote:

[2020-07-22 18:08] athul commented on #17
Hey @Stanley-Yao
I checked your repo and please don't save your  api key in the file itself. This is due to security issues. Save it in your repo secrets https://github.com/Stanley-Yao/Stanley-Yao/settings/secrets

Here is a reference of the yml file I use
[code]

[2020-07-22 18:17] athul commented on #18
Okay, then don't worry. It'll generate the updated stats tommorow morning(5.30 AM IST)

[2020-07-23 02:16] Smartuil commented on #18
It's working.

[2020-07-23 02:25] Smartuil opened #20 "What is this?"
What is this? It looks redundant
![image](https://user-images.githubusercontent.com/25101328/88246931-a3b37d80-ccce-11ea-90f9-aa213c2240a2.png)

[2020-07-23 02:56] athul commented on #20
It looks fine on my screen. I can't seem to reproduce the above issue

[2020-07-23 03:01] Smartuil commented on #20
I ues chrome, but I look yours,It looks like this:

It's too strange

[2020-07-23 03:06] Smartuil commented on #20
I found this

When I pressed crtl and scrolled the mouse wheel to 200%,it looks well

[2020-07-23 03:16] athul commented on #20
Seems like a rendering issue when zoomed out. Could you try on any other browser too just to confirm it's browser related

[2020-07-23 03:20] Smartuil commented on #20
I test on QQ/Chrome/Edge browser,when it's 200%,it's OK,Other cases are not good

[2020-07-23 03:31] Stanley-Yao commented on #17
Hi @athul  Thanks for your detailed reply. I am new to the workflow and secret, so that I didn't realize those are the thing you were talking about. Now I have an idea and just successfully updated my profile! Kudos to you!

[2020-07-23 03:32] riginoommen commented on #18
Yay its working now

On Thu, 23 Jul 2020, 7:46 am Smartuil, <notifications@github.com> wrote:

[2020-07-23 03:33] Stanley-Yao commented on #17
Actually do you mind if I make a PR to improve the Read me?  So that it explains better to the newbees like me LOL.

[2020-07-23 03:35] athul commented on #17
Sure. All PRs are welcome 😊

[2020-07-23 04:03] Stanley-Yao commented on #17
I can't setup a remote branch. Do you have a prefered branch to let me work on? Or maybe could you change the permission? Thanks.

[2020-07-23 04:14] athul commented on #17
You could fork thebrepo and send a PR from the fork

[2020-07-23 05:38] athul commented on #17
Closing this. If you have any queries feel free to open a new issue

[2020-07-23 05:38] #17 closed

[2020-07-23 14:39] athul commented on #20
I'm really sorry. I don't think there is anything we could do to resolve the issue with the code.

Therefore closing it. Feel free to open an issue if you find any other bugs

[2020-07-23 14:39] #20 closed

[2020-07-24 18:22] athul commented on #18
Since it's solved, I guess its safe to close this issue. Feel free to open one if you found any ither bugs

[2020-07-24 18:23] #18 closed

[2020-07-28 03:04] joe733 commented on #10
I saw the test. But can someone please explain the concept behind it. There's a random bunch of assertions in the [`test_main.py`](https://github.com/athul/waka-readme/blob/master/tests/test_main.py) file. How does that help for all the possibilities that can occur. Any pointers to good documentation?

[2020-08-01 20:11] revi opened #24 "Make commit message configurable"
I want to use other messages as commit message, so I think I would quite benefit from the config option to override the default commit message.

[2020-08-02 05:51] athul commented on #24
Hey,
That can be done easily , by just adding an input option in `action.yml` and checking if that option exists in the python script via a `os.getenv`. It will fallback to a default message if the input isn't added

[2020-08-02 06:07] athul commented on #24
@revi could you review #25

[2020-08-02 09:49] Xx0w0wxX opened #26 "No Activity tracked this Week"
I set up my README by following instructions

- https://github.com/athul/waka-readme/

However, my output is

![Screen Shot 2020-08-02 at 18 49 26](https://user-images.githubusercontent.com/61415133/89120384-e5bf9900-d4f0-11ea-8ab8-04959ec7229c.png)

Why? I created secret tokens.

[2020-08-02 12:20] #24 closed

[2020-08-02 12:25] athul commented on #26
Hey @Xx0w0wxX , Thanks for opening the issue.
TL:DR; If you started [wakatime](https://wakatime.com) today, then you'd have to wait a day for the API to be updated and this happens every day at midnight.

For more info on why this is happening👉, We have had a discussion on why this is happening and you can reference #18 for more info or just follow the discussion from here https://github.com/athul

[2020-08-03 08:17] athul commented on #26
If this answers you query, feel free to close the issue 😄

[2020-08-03 09:05] chenboshuo opened #27 "How to hide some languages"
I want to hide some items of WakaTime, but I don't know how to do it.

for instance,
I am using the WakaTime chrome to record my browse time,
but I don't want to show it in my readme.

[code]
I want to hide  item `Other` .
[code]

If you have related settings, could you think about this feature,
Thank you!

[2020-08-03 09:36] athul commented on #27
This could be implemented with a new flag in our GitHub Action. But the downside is that it will affect the total percentage in the output like above in your stats, if we remove the "other" language the total % would be 52.05 and nearly the half the time is invisible to the public since it would be invisible to the public eye.

If you really need this feature, it's simple since check the flag if i

[2020-08-03 09:48] chenboshuo commented on #27
Yes, I think sometimes `other` is meanless because only the user know its means and we usually want to show the time of coding.

Thanking for your consideration。

[2020-08-03 12:48] Xx0w0wxX commented on #26
@athul  Thank you for your comment, I passed midnight, but it does not work.... Am I wrong?

[2020-08-05 13:51] joe733 commented on #27
How about this?

https://github.com/athul/waka-readme/blob/ec917b7b5dbb41ededce6b1602e4797e0c05ae62/main.py#L51-L54

[2020-08-05 13:55] joe733 commented on #27
Would it be good to put `Other` at the end of the top languages?

[2020-08-05 13:58] athul commented on #27
That would be fine I guess, what do you say @chenboshuo ?

[2020-08-05 15:34] joe733 commented on #27
Okay here's what I could come up with...

https://github.com/athul/waka-readme/blob/cc17cfda8be6ea198d0cdd9d4eba1a2178cb58f7/main.py#L51-L57

This probably hides the language tagged as `Other`, but I couldn't test it with my WakaTime data. @chenboshuo can you tell the results after testing it?

You can manually do that by cloning the [`rm-other`](https://github.com/athul/waka-readme/tree/rm-other)

[2020-08-06 01:09] chenboshuo commented on #27
[code]

Yes it works,Thank you.

[2020-08-06 01:09] #27 closed

[2020-08-08 03:43] #26 closed

[2020-08-15 23:13] ouuan opened #28 "No commit for two days"
See: https://github.com/ouuan/ouuan/commits/master and https://github.com/athul/athul/commits/master, there aren't any commits from waka-readme for two days.

The workflows were running: https://github.com/athul/athul/actions/runs/209282546 and https://github.com/ouuan/ouuan/actions/runs/210094406, but no commit was made.

I guess there are some changes in the waka time API, or there's something w

[2020-08-18 06:37] ouuan commented on #28
I haven't changed my API key, but I updated the API key in the secrets and re-run the workflow, and it is updated.

I'm not sure whether it's related to the secret update (I mean, perhaps I can fix it by re-run without updating the secret), but it is fixed in my README now.

[2020-08-18 06:37] #28 closed

[2020-08-21 04:00] saltbo opened #31 "Can support custom repo?"
https://github.com/athul/waka-readme/blob/aaff45b1d4b4629eec06b3fca64a56e40b10ee5c/main.py#L91

[2020-08-21 04:01] saltbo commented on #31
I want to use it in my other repo

[2020-08-21 04:13] athul commented on #31
Hey, that is totally possible too. At the inception of this project, I was only thinking to add it in the Profile repo. If you'd like to contribute on this. I could walk you through it since I have a bit of stuff to do.

[2020-08-21 04:40] saltbo commented on #31
Okay, I will commit a PR later

[2020-08-21 04:49] athul commented on #31
Oh cool.
* Add a new Flag in the `actions.yml` file. It should have a description and default value. It should look something like this(this is an example)
[code]
* In the `main.py` file. Load the value of the flag as an environment variable. In the entrypoint(`__name__=='main'`) add an else if condition to check the value and if it isn't the default repo, callback to the user defined one(or vice

[2020-08-31 09:00] nelson6e65 commented on #20
I'm having this issue too.

[2020-08-31 09:06] nelson6e65 commented on #15
Maybe use the file extension instead of long name.

[2020-08-31 09:11] athul commented on #15
The languages are received from Wakatime's API and we use it directly. Hardcoding the language extensions are a bit tedious and might lead to discrepancy if the language isn't in the extensions list.

[2020-08-31 09:13] athul commented on #20
This isn't an issue on the code side and mostly an issue with the browser and OS

[2020-08-31 09:14] nelson6e65 opened #33 "Last 2 weeks of coding activity"
There is a way to use 14 days instead of just 1 week?

[2020-08-31 09:19] athul commented on #33
I don't think that's possible since wakatime's API  doesn't support that.

https://wakatime.com/developers#stats

[2020-08-31 19:25] nelson6e65 commented on #33
Thanks for your answer.

There is a way to use it 2 times? 😅 Maybe an option to configure the labels:
[code]

So I can run the cron to keep weekly stats from Monday to Sunday on last week, and other daily cron, showing last 7 days stats.

[2020-09-04 18:39] BirjuVachhani opened #34 "This doesn't seem to be working when your main branch is named `main` instead of `master`"
I recently implemented this in my profile and it worked very well. However yesterday, I changed my main branch from `master` to `main` as Github is planning to do so by the end of this year. Now I see that the job I have set for this is failing. It says that the branch `master` was not found,

Here's the stacktrace:

[code]

[2020-09-06 08:18] gautamkrishnar opened #35 "Remove 0 sec graphs"
Wakatime readme is showing graph with 0 sec time. We should ignore it when api gives us such values:
<img width="871" alt="Screenshot 2020-09-06 at 1 45 30 PM" src="https://user-images.githubusercontent.com/8397274/92321443-9b798c80-f047-11ea-8dc8-502f88629712.png">

[2020-09-06 10:56] eli1stark opened #36 "How to fix the overflow of the graph?"
I also noticed that this issue doesn't exist on my laptop and phone. Only PC.
<img src="https://i.imgur.com/zwAx0Mf.png" alt="overflow">

[2020-09-06 14:40] athul commented on #36
This isn't an issue with the code this seems to be browser and os issue. This issue was already found on #20

[2020-09-06 14:40] #36 closed

[2020-09-08 18:45] #35 closed

[2020-09-13 10:14] malkam03 commented on #34
Hello @BirjuVachhani, I created a PR that should solve this and tested it on my fork. However you can also test on your side to confirm.

[2020-09-14 15:52] #34 closed

[2020-09-21 07:44] Siddharth2016 commented on #10
you can check https://realpython.com/python-testing/, really helpful introduction to writing tests in python

[2020-09-21 16:37] divykj commented on #9
@joe733 maybe this?
[code]

@athul should I put a PR?

[2020-09-22 03:10] joe733 commented on #9
yea.. give it a shot.

[2020-09-22 03:27] divykj commented on #9
When you think about it, it seems completely unnecessary.
The header is static, so it doesn't need to be written by the action.
Also, different people like to put different types of headers.
[code]

The user will have to write markdown syntax in `actions.yml` which seems even more off.

I could still write a PR if you want!

@joe733 @athul

[2020-09-22 03:38] joe733 commented on #9
You're right the, header does not change per say. And it may vary in taste from person to person. What are your thoughts @athul?

[2020-09-22 03:40] athul commented on #9
Hey, @joe733 @divykj Thanks for the discussions, but this of low priority since no one else has requested it. Thanks again for the fine discussion here.

Closing this ☺️

[2020-09-22 03:41] #9 closed

[2020-09-22 03:50] divykj opened #42 "Redundant Pipfile"
The repository has both `requirements.txt` and `Pipfile`. The former is used in the docker build, which makes `Pipfile` redundant and unnecessary.

[2020-09-25 13:48] rajitbanerjee opened #43 "README not updating daily"
I don't know why, but for quite a few weeks, the waka readme stats have not been updating at 00:00 UTC as mentioned in the cron job. They only work with a push to the master branch.
Here's my workflow file `main.yml`:
[code]

[2020-09-25 13:52] rajitbanerjee commented on #43
I do see a vague pattern. Every time a pull request is merged in your `athul/waka-readme` repository, the daily readme update stops for me, until I make changes to my profile readme and do a push.

[2020-09-30 22:45] azizramdan opened #44 "add anchor link"
Can you add anchor link to graph? so when graph clicked it will open https://wakatime.com/@username

[2020-10-03 12:24] denvermullets commented on #43
i just want to echo that mine was working for a few days and then stopped. i have to manually trigger it to update. just weird that the action runs, successfully, but doesn't update anything.

[2020-10-03 13:54] joe733 commented on #44
Hi @azizramdan thank you for taking interest in the repository.

Is this something you're expecting?

<a href="https://wakatime.com/@joe733">
<pre>Week: 25 September, 2020 - 02 October, 2020
C        4 hrs 48 mins   ████████░░░░░░░░░░░░░░░░░   32.20 %
Other    3 hrs 29 mins   ██████░░░░░░░░░░░░░░░░░░░   23.34 %
Python   3 hrs 24 mins   █████▓░░░░░░░░░░░░░░░░░░░   22.79 %
C++      1 hr 37 mins    █

[2020-10-03 14:01] joe733 commented on #43
Do you guys have `cron-logs` or something... it might help to look into this.

[2020-10-03 14:07] joe733 commented on #42
@divykj any side effects, if it's removed? For example will it hamper further development - say a complete refactoring of code to implement in `class` ?

[2020-10-03 14:09] azizramdan commented on #44
@joe733 yes like that

[2020-10-03 14:19] joe733 commented on #44
Few things...

- This was done using HTML `<a href=''><pre></pre></a>` tags because multi-line markdown code <code>```</code> syntax does not support links.
- The user of WakaTime me need to have a `username`. Ironically I created one, just after I saw this issue.
- Alternative to this will be to have links on the _headline_ itself. Gives flexibility to the user and reduces code complexity.

I thi

[2020-10-03 14:49] divykj commented on #42
So basically, `requirements.txt` and `Pipfile` (along with `Pipfile.lock`) do the same thing, that is dependency management.

Since only `requirements.txt` is being used during the build, there's no side effect that I can see.

It doesn't affect the working of python itself, it just changes how you store and retrieve your dependencies in python during development and during the build.

Also, I thi

[2020-10-03 15:37] joe733 commented on #42
I see. I'm not much familiar with these yet, I hope someone else with better experience can tell.

Why, are classes bad in some way?

Yea that will be good.

[2020-10-03 15:47] azizramdan commented on #44
1st point is worked but I don't like link's style, so I use 3rd point. Thanks

[2020-10-03 15:47] #44 closed

[2020-10-03 16:26] divykj commented on #42
I can assure you `Pipfile` is redundant *here*, and nothing will break.

No, they aren't bad, but they just don't have a use in this particular case.
Here we need more of a script, instead of a complex intertwined project with different objects interacting with each other, and for scripting, the object-oriented paradigm will not be that useful.

Yes, if you plan to implement more features, just ta

[2020-10-03 16:34] divykj commented on #10
The current implementation of tests uses the python standard library's unit tests, I think we should implement them in a mature and widely used library like `pytest` which is easier to understand and focuses more on the tests rather than the boilerplate syntax.

If anyone can give me a green light ( @joe733 @athul ), I'll be more than happy to put a PR with complete tests in pytest.

Here, take a

[2020-10-04 09:24] joe733 commented on #42
Alright then, I think we good to go.

That's right. Now I understand certain things... :)

It would be great. I'd love to help as much as I can.

[2020-10-07 12:26] denvermullets commented on #43
sorry @joe733, i probably should've done that earlier and missed your notification.

`2020-10-07T00:46:19.9996874Z ##[section]Starting: Request a runner to run this job
2020-10-07T00:46:20.4157436Z Can't find any online and idle self-hosted runner in current repository that matches the required labels: 'ubuntu-latest'
2020-10-07T00:46:20.4157543Z Can't find any online and idle self-hosted runner i

[2020-10-08 12:15] denvermullets commented on #43
actually, i noticed that it doesn't sync if my wakatime public profile hasn't been updated which is delayed in updating. i bet if i just change the time the job runs it'll update correctly.

[2020-10-08 12:30] joe733 commented on #43
So are you saying it's the issue with WakaTime API than the script?

[2021-01-25 23:44] AbhisarAnand opened #53 "Problem with wakatime not showing any graphs"
Hey Guys,

I followed the tutorial exactly the way it was written, however, the graph says that I have no activity tracked? I got wakatime today and my dashboard shows that I have many hours in it today. But even then, in my README.md file, it says
`No Activity tracked this Week`. Do I have to wait or something or should it have made the graph?

This is my main.yml file
`name: Waka Readme

on:
  w

[2021-01-26 04:03] joe733 commented on #53
Hi, thanks for taking interest!

I checked your actions tab it says:
![Screenshot from 2021-01-26 09-31-30](https://user-images.githubusercontent.com/38415384/105798980-656a8400-5fb9-11eb-8615-3b7a90727719.png)

Does waiting work? Can you please double check the given WakaTime API secret?

[2021-01-26 17:39] AbhisarAnand commented on #53
Sorry for getting a little impatient. I didn't see that line when I was going through. The graph got updated! Thank you

[2021-01-26 17:39] #53 closed

[2021-02-02 14:47] joe733 commented on #43
Hi, I see @denvermullets's action getting updated properly: https://github.com/denvermullets/denvermullets/actions and I guess @rajitbanerjee has moved on, so I'm closing this issue.

Please feel free to re-open it anytime, if something pops up.

[2021-02-02 14:47] #43 closed

[2021-02-20 13:51] spencer741 opened #56 "Skew appearance of progress bar Windows 10?"
Not sure if this is happening to anyone else when viewing in either firefox or chrome browsers on Windows 10, there appears to be a weird skew happening.
![Capture](https://user-images.githubusercontent.com/35856129/108597727-32b17280-7350-11eb-9eaa-13107c2a1c2e.PNG)

@athul ... It appears this way for the graph in your profile as well.

I have restarted both browsers and my machine.. I know I jus

[2021-02-20 14:06] spencer741 commented on #56
I just realized this is an issue in issue #36 and #20 ... Does anybody have a clue as to what might be causing this behavior so we can resolve the bug upstream in the browsers or OS? Seems like a fair amount of people are/were having this issue.

[2021-02-20 14:11] spencer741 commented on #56
@smartuil Did you ever find a resolve to this?

[2021-02-21 04:34] athul commented on #56
Hey @spencer741 This seems to be an issue only limited to Windows 10 devices. Possibly a rendering issue. One way you could tackle this issue would be to use another text/blocks like this

[code]

Ref: https://github.com/athul/waka-readme#extras

[2021-02-21 06:15] spencer741 commented on #56
Thanks for the insight. I just spent an hour or so testing how UniCode is rendered in GH markdown on Windows 10 vs Mac OSX. Some very interesting differences. It has to be how Windows 10 interprets unicode vs Mac, although pasting unicode chars into notepad and textedit don't seem to differ all that much... kind of confusing if you ask me.

I will go ahead and close this issue.

refs:
https://www.

[2021-02-21 06:15] #56 closed

[2021-03-02 02:09] blchelle opened #57 "Filter out languages based on coding time"
One thing I wish I could do is to specify an option that filters out any languages that I've used for less than x amount of time in the last week. For example, I'm currently using this tool and my weekly stats look like this
[code]
The first three lines are very good at letting people know what I'm currently building with. The last two lines don't provide any useful information though and it would

[2021-03-05 04:18] joe733 commented on #57
Hey @blchelle thanks for bringing this up. I'm not sure if it'd be fully implemented soon, in the mean time please have a look at a very similar issue: https://github.com/athul/waka-readme/issues/27

[2021-03-05 04:29] blchelle commented on #57
Thanks @joe733. It's certainly more of a "nice to have" than it is a "must have" feature

[2021-04-09 20:36] muety opened #59 "Allow to configure API URL"
In order to support WakaTime alternatives like [Wakapi](https://github.com/muety/wakapi) or [hakatime](https://github.com/mujx/hakatime), it'd be cool to be able to configure the API's base URL via en environment variable. This way, `https://wakatime.com/api/` could easily be replaced by `https://wakapi.dev/api`, for instance.

[2021-04-15 03:40] athul commented on #59
Hey, Really sorry for the late reply.

We could make this work by adding a Env Flag for GitHub Actions but I don't know about the API compatibility. If Wakapi or Hakatime returns the same response as Wakatime API response then we're in luck for implementing this ✨

I haven't done much search for both these platforms. Also would add to ask about the auth system for wakapi or hakatime since we'll ne

[2021-04-15 06:18] muety commented on #59
From what I've seen, waka-readme only uses the `/v1/users/current/stats/last_7_days` endpoint, which is entirely compatible in Wakapi (and I believe Hakatime as well). Authentication is compatible, too, it happens through basic auth using an API token.

I'll see if I can do a PR some time soon.

[2021-04-16 06:02] #59 closed

[2021-06-27 11:47] ryul1206 commented on #33
I just came up with a fun trick to make this possible.
Even if the API doesn't support the `last_14_days` feature, we can get it if the history is recorded in the readme file or a separate file.

For example, let's assume we have `waka-buffer.yaml` in our repo.
[code]
And if today is January 15, 2021, we can find the records for days 1-14 as follows:
[code]
Percentages can also be calculated by fi

[2021-06-29 02:52] joe733 commented on #33
This is cool, if we can come up with a way to show data from a custom time-slice, it'd be good. (Probably we'll have to consider another service too... idk)

[2021-07-18 07:43] hiruthicShaSS opened #65 "Query failed to run by returning code of 401."
I just created the workflow but it throws me this error.

[code]

[2021-07-18 09:24] joe733 commented on #65
Hi @hiruthicShaSS, in https://github.com/hiruthicShaSS/hiruthicShaSS/commit/c0d844b15b405cf2fa7b924f5dd3d1eaf971e237 you're using `anmol098/waka-readme-stats@master` instead of `athul/waka-readme@master` at [line 13](https://github.com/hiruthicShaSS/hiruthicShaSS/blob/78f2c78f3a30c3f779748443fe71c2e6c0b60e31/.github/workflows/wakatime.yml#L13).

Feel free to use `athul/waka-readme@master` and let

[2021-07-18 10:00] hiruthicShaSS commented on #65
I am really dumb😥. I am so sorry for disturbing I should've looked carefully. Thanks for the reply too this workflow works like a charm. Nice project buddy👍

[2021-07-18 10:00] #65 closed

[2021-07-18 13:29] joe733 commented on #65
No problem! happy coding :)

[2021-10-04 14:48] joe733 commented on #42
Hi, wow, it's been over a year!

I've been messing around with Python and I've switch from `Conda` to `Pipenv` due to multiple reasons and so far it's been good. I think keeping the `Pipefile` is okay, even though it uses `requirements.txt` if the former is not found:

[code]

Closing this issue now, feel free to comment your thoughts below.

Happy coding ✌🏻

[2021-10-04 14:48] #42 closed

[2021-10-09 04:03] declandragon opened #69 "add total time ？"
[code]

[2021-12-15 14:43] Zall9 commented on #26
Up!

[2022-01-26 18:11] samr1ddh1 opened #71 "Update Screenshots and path"
I wanted to integrate this into my markdown file, however I stumbled upon this issue.
For the Profile Repository Section ,step No. 3 and  its respective screenshots  need updation as that path no longer exists.
New path will be `https://github.com/USERNAME/USERNAME/settings/secrets/actions/new`

<img width="427" alt="image" src="https://user-images.githubusercontent.com/52720626/151221742-bc37d139

[2022-01-28 14:02] joe733 commented on #71
Hi @samr1ddh1, thanks for the heads up! PRs are welcome!

[2022-01-31 13:12] joe733 commented on #69
Hi @declandragon, sorry couldn't attend the issue earlier. The total time could include time of those not in the top 5 of the list. So something like this could be done, what do you think?

[code]

PRs are welcome!

[2022-02-04 22:22] ibrahiem96 opened #73 "How long does it take for metrics to show up?"
Hi,

I'm new to both Waka and Athul's waka-readme project. I just installed this action in my profile repo and its working great, but I don't see any of my metrics in my README as of yet. Is it because I have only been recording metrics for the past day? Can anyone shed light on this?

Thanks

[2022-02-05 03:28] joe733 commented on #73
24 hrs usually, see https://github.com/athul/waka-readme/issues/53#issuecomment-767281814

[2022-02-05 04:43] #71 closed

[2022-02-07 13:54] ibrahiem96 commented on #73
@joe733 thanks, I see the metrics after a few days.

[2022-02-07 13:54] #73 closed

[2022-02-13 06:08] declandragon commented on #69
#74

[2022-02-13 14:33] jameshwc commented on #33
See #75

[2022-02-15 17:46] #69 closed

[2022-02-17 03:10] athul opened #77 "Change CI from Travis to GitHub Actions"
I think it should be more apt to change the CI system to GitHub Actions itself than Travis. The current project itself is a GH action and it's ironic that we use Travis for Testing 🤣 .

Since Travis only does is installing python and it's requirements and running unittest, it should be fairly easy to port to GH actions. Refer `travis.yml` for details

[2022-02-20 01:29] joe733 commented on #77
Hi, yea it is kind of ironic, but say for instance if [GH Actions](https://www.githubstatus.com/) went down or [Travis](https://www.traviscistatus.com/) did, we could tell them apart when someone reports their workflow is failing. Just a thought.. :)

[2022-02-20 10:50] athul commented on #77
Oh wait, I'm sorry for confusing this. I meant the tests for waka-readme repo. Those are done with Travis and we need to change that to GH actions

[2022-02-20 13:04] joe733 commented on #77
Yes, I understand.

The possibility of both the CI providers going down together is less than one going down, right.. so we can be sure that our latest commit (passes test in Travis CI and) did not cause some issue - in the scenario where GH Actions goes down (which would disrupt the WakaTime workflow for users).

But hey, I'm totally okay with having GH actions for testing, if that's what you wan

[2022-02-21 09:19] snaildos opened #78 "Error Loading"
![image](https://user-images.githubusercontent.com/46210117/154925236-33dee14f-6ee7-4cc2-9da8-947cc67ddb18.png)

[2022-02-21 09:21] snaildos commented on #78
works now. strange.

[2022-02-21 09:21] #78 closed

[2022-02-25 14:07] nelson6e65 commented on #33
@jameshwc I tried to use `last_30_days` but it did not work. I get this error message: `Unknown KeyError`:

https://github.com/nelson6e65/nelson6e65/runs/5334427686?check_suite_focus=true#step:3:14

If I run a GET to [/api/v1/users/@nelson6e65/stats/last_30_days](https://wakatime.com/api/v1/users/@nelson6e65/stats/last_30_days), like documented in https://wakatime.com/developers#stats, it works fi

[2022-02-25 19:52] joe733 commented on #33
Hi @nelson6e65, it's due to an [HTTP 202](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/202) from the API as it's taking too long to prepare the response. I'm working on a refactoring #79 that hopefully will fix it.

[2022-02-27 10:43] #10 closed

[2022-02-27 10:43] #33 closed

[2022-02-27 10:43] #77 closed

[2022-03-23 03:24] Curtion commented on #56
I found that this problem occurs when using `pre`and `code` tag in github, Maybe can use the `table` tag to solve this problem。
Here's a way to display it correctly, although it changes the style

![old](https://user-images.githubusercontent.com/14846890/159616883-652e194c-08f4-4fdb-94e0-59f71561caae.png)
![new](https://user-images.githubusercontent.com/14846890/159616890-ff09a018-b7b7-48e8-899d-5

[2022-03-24 13:33] joe733 commented on #56
[![image](https://user-images.githubusercontent.com/38415384/159926977-f77447c5-087f-40b8-aabc-1c43f2207217.png)](https://github.com/eli1stark)

Apparently this happens on Firefox on Arch Linux too. Hence https://github.com/athul/waka-readme/issues/20#issuecomment-683664322 is apt.

[2022-03-24 13:38] joe733 commented on #56
I'm afraid `<table>` won't help either...

Firefox
![image](https://user-images.githubusercontent.com/38415384/159928001-4191b454-6575-4a61-b73e-024fb597178c.png)

Brave
![image](https://user-images.githubusercontent.com/38415384/159928203-7216a71d-7134-4ad0-bac9-780bcff8770b.png)

[2022-05-03 20:36] Eroxl opened #80 "Option to include "other" languages in total time stat"
I would really appreciate the option to be able to include the other languages in my coding stats for my profile. It's not a large change in the times but I would like it to have all of my coding time included in it.

This should be pretty easy to implement by using `human_readable_total_including_other_language` instead of `human_readable_total` if the parameter is provided.

Not sure what a grea

[2022-05-04 03:01] joe733 commented on #80
If you use more than 5 languages WakaTime puts them in a key called `Other`, which is displayed like...

[code]

Then there is a envar `INPUT_SHOW_TOTAL` that you can set to get the total time.

[code]

I'm not sure I follow your doubt...

[2022-05-04 04:14] Eroxl commented on #80
Sorry I think I worded it funny. Right now `SHOW_TOTAL` currently pulls from `human_readable_total` which doesn't include languages that Wakatime can't classify. I just want to add an option so you can chose to pull from `human_readable_total_including_other_language` see how I have around 6 hrs that Wakatime couldn't classify in the screen shot right now.

<img width="504" alt="Screen Shot 2022-0

[2022-05-21 04:32] zhaohuanyuu opened #81 "Optimization for placeholder space style"
**Question:**

![image](https://user-images.githubusercontent.com/25791574/169635435-38647081-e601-464b-9188-39d2142f5e92.png)

**Description:**

Can the space of the show time placeholder be removed when SHOW_TIME: false?

When using the left and right layout, you want the content to be displayed completely

**Expect:**

![image](https://user-images.githubusercontent.com/25791574/169636253-a24770

[2022-05-21 16:09] #81 closed

[2022-05-21 16:11] zhaohuanyuu commented on #81
change the layout, no need to optimize

[2022-07-23 06:59] joe733 commented on #80
Is this API endpoint documented? Can't seem to find it here: https://wakatime.com/developers/

[2022-07-24 02:25] Eroxl commented on #80
@joe733 I don't think it's documented but it's the same endpoint as right now just another field.

And neither is the field being used right now https://github.com/search?q=org%253Awakatime+human_readable_total&type=discussions

I'm not really sure how any of this is relevant? If you check the response from the current endpoint it responds with both fields even though neither are documented.

[2022-07-24 15:05] joe733 commented on #80
Well `human_readable_total` is documented, or at least shown in examples, but `human_readable_total_including_other_language` is not. Apparently the latter shows up in GitHub code [search results](https://github.com/search?q=human_readable_total_including_other_language&type=code) 571 times. That's pretty good usage count for an undocumented API.

Anyway, I'll look into this.

[2022-08-06 03:38] chitraarasu opened #85 "Waka readme not updating automatically."
![Screenshot 2022-08-06 085614](https://user-images.githubusercontent.com/75994428/183231880-53996c39-c805-4b48-9e33-ba880c726d87.png)

## So far it has worked perfectly. Since last week it is not run automatically. it is failed. If I run it manually it works perfectly. Is there any way to fix this?

![Screenshot 2022-08-06 090440](https://user-images.githubusercontent.com/75994428/183232021-631d4

[2022-08-06 04:03] joe733 commented on #85
Hi, thanks for bringing this up. I see the same issue with [athurl's](https://github.com/athul/athul/actions) runs and [mine](https://github.com/joe733/joe733/actions). They started failing precisely 7 days ago. But the last merge commit was made 14 days ago. Let me investigate. Maybe something in the upstream changed.

[2022-08-06 07:07] joe733 commented on #85
[WakaTime status](https://status.wakatime.com/) looks good. Looks like an issue with [GitHub status](https://www.githubstatus.com/history) (networking arena probably?). They seem to have a couple of issues for the past few weeks. Closing this for now. Feel free to bump this thread, if the issue is persistent next week.

[2022-08-06 07:07] #85 closed

[2022-08-06 07:14] #80 closed

[2022-08-06 07:37] joe733 commented on #57
Hi @blchelle, are you still interested in this feature? I'm closing this for now. If anyone is, please bump this thread. PRs are welcome too!

[2022-08-06 07:37] #57 closed

[2022-08-12 00:36] Zaker237 opened #91 "Getting the stats with TIME_RANGE: last_year throws an error"
[2022-08-12 00:30:06] ln. 302 DEBUG    Fetching WakaTime statistics
[2022-08-12 00:30:06] ln. 307 DEBUG    API response @ trial #1: 202 • ACCEPTED
[2022-08-12 00:30:06] ln. 313 DEBUG    Retrying in 3s ...
[2022-08-12 00:30:09] ln. 302 DEBUG    Fetching WakaTime statistics
[2022-08-12 00:30:09] ln. 307 DEBUG    API response @ trial #2: 202 • ACCEPTED
[2022-08-12 00:30:09] ln. 313 DEBUG    Retrying

[2022-08-12 13:24] yasandev commented on #85
I have the same issue, and it's been happening long before 2 weeks ago. I usually end up manually updating it every few days.

I initially thought the issue only happens at the specific time I have set up my action to run every day but even after that it kept happening.

https://github.com/yasandev/yasandev/actions

[2022-08-15 02:48] #91 closed

[2022-08-22 20:43] mariarobertap opened #95 "API Returning 202 - ACCEPTED"
Hello. Just started using this action, and I'm having a problem.
The jobs keep failing. Notice that a couple of people are having the same issue.
Is there any solution?

`[2022-08-22 20:40:06] ln. 309 DEBUG    API response @ trial #1: 202 • ACCEPTED`

Thanks!

[2022-08-23 12:33] #95 closed

[2022-09-05 06:21] nishant-nayak commented on #95
Hi @mariarobertap , any idea how it started working again? I'm facing the same issue with my workflow and I'm not sure what's causing the issue.

[2022-09-07 02:39] chitraarasu opened #97 "Waka readme not updating automatically. Manual running also not working"
![Screenshot 2022-09-07 080140](https://user-images.githubusercontent.com/75994428/188776314-bec92a41-feb3-4811-9ce3-ee289ebe49c4.png)
![Screenshot 2022-09-07 080921](https://user-images.githubusercontent.com/75994428/188776404-46380288-69b9-4df1-86af-6fb1f89cab75.png)

[2022-09-07 03:54] joe733 commented on #97
Hi @chitraarasu, the error message plainly says you're providing "Bad credentials", please check if your GitHub token has proper scope and has not expired.

By the way, looks like you're using this action on your on [profile readme](https://github.com/chitraarasu/chitraarasu/blob/master/.github/workflows/waka-coding-stats-workflow.yml). You do not have to provide GitHub token. [RTM](https://github

[2022-09-08 03:03] chitraarasu commented on #97
Thank you

[2022-09-08 03:03] #97 closed

[2022-09-13 09:47] reekystive opened #98 "Failed to run action: 202 ACCEPTED"
Thanks for this project! My action keeps failing and here is the log:

[code]

My ci file:

[code]

I visited your profile and found a similar error in your action run history:

https://github.com/athul/athul/actions/runs/2850134518/jobs/4515953646

I can't resolve this issue. Help!

[2022-09-13 10:17] reekystive commented on #98
I figured it out. Here's the `202 ACCEPTED` response.

[code]

Maybe that is because I just signed up for WakaTime and it takes a while to calculate my stats.

[2022-09-13 10:17] #98 closed

[2022-09-13 10:23] reekystive commented on #95
@nishant-nayak You can refer to this issue: https://github.com/athul/waka-readme/issues/98

[2022-09-20 10:04] rizkytegar opened #100 "ERROR Unable to fetch data, please rerun workflow"
hello,
why is this not working? I've signed up for an account, added wakatime on my github, and I've added wakatime in my visual studio code.

workflow :

https://github.com/rizkytegar/rizkytegar/blob/master/.github/workflows/update-readme.yml

error :

[code]

error log from github action :
https://github.com/rizkytegar/rizkytegar/actions/runs/3089153765/jobs/4996436339

[2022-09-20 10:58] joe733 commented on #100
Hi @rizkytegar, please refer https://github.com/athul/waka-readme/pull/90#issuecomment-1208431394, #95 #97, #98

[2022-09-21 01:39] rizkytegar commented on #100
thanks [Jovial Joe Jayarson](https://github.com/joe733), now working and showing on my profile

[2022-09-21 01:39] #100 closed

[2022-10-05 13:22] diorcula opened #102 "API Response 401: UNAUTHORIZED; Manual Workflow keeps failing"
I try to test the workflow and readme stats by manually running the workflow from the Actions menu in Github but it keeps failing.

I have added the Waka token as a secret as well as the Github token, 2 separate secrets.

My waka readme yml:
[code]

And this is the output on debugging:
![image](https://user-images.githubusercontent.com/32682696/194070860-bcb236f7-58cc-47c2-8acb-b247f0259b99.png)

[2022-10-05 13:55] fbuireu opened #103 "Feat: chance to target different README files"
By default (as it should be) it uploads automatically the `README.md` file. I imagine some other scenarios where someone may want to update another file (let's say `README.it.md` beside the activity will be displayed in English).

I'd like the option to use different markdown files to be uploaded using a key like: `TARGET_FILE`.

Thanks for all the work!

[2022-10-05 15:34] joe733 commented on #102
[HTTP 401](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/401) stands for Unauthorized. Can you please double check the tokens, in case you've mixed up the tokens or got them wrong?

[2022-10-05 15:38] diorcula commented on #102
I have double checked the values and they are correct.
I entered them as such:

![image](https://user-images.githubusercontent.com/32682696/194102224-b442afc4-89e1-48e0-ba81-fdb7471f1b92.png)

where of course i replaced <my-value> with the actual token

[2022-10-05 15:50] joe733 commented on #102
Can you please try it locally? You can follow [CONTRIBUTING.md](https://github.com/athul/waka-readme/blob/master/CONTRIBUTING.md).

[2022-10-05 19:25] diorcula commented on #102
I'm not too handy in doing this, i can try to ellaborate more on what i did exactly?

[2022-10-05 19:27] diorcula commented on #102
i was wondering if i need to replace the following with my own repo?
![image](https://user-images.githubusercontent.com/32682696/194145552-81220267-d71e-4a7f-b7b5-18c9c6757d64.png)

[2022-10-05 19:43] diorcula commented on #102
I have no idea what changed, but or some reason it worked! so i will close the issue.
I guess it just takes some time before it all works.

[2022-10-05 19:43] #102 closed

[2022-10-06 01:51] joe733 commented on #102
You can, but you might wanna keep the fork in sync.

It does.

Glad it worked out for you. Thanks for using waka-readme!

[2022-10-08 10:53] imhuay opened #104 "It doesn't seem to work on branches other than the master."
I'm not asking for this feature, but just add a annotation.

[2022-10-09 15:06] joe733 commented on #104
Can you please elaborate?

[2022-10-09 15:17] joe733 commented on #103
Hi @fbuireu, I understand your point. The code uses https://github.com/athul/waka-readme/blob/c2075190e1c87c368faf8d7bbb0384864f4832fe/main.py#L356-L374 default `README` provided by the PyGitHub API.

If `TARGET_FILE` can be tweaked, then it could be set for any file, not just `README`. I'm not sure, if we need to move in that direction. Thanks for bringing this up.

cc: @athul

[2022-10-09 21:41] EleoXDA commented on #104
he/she probably means that it cannot be run on a specific branch of a readme file (i.e. other than master) - which would require that readme branch file to be merged to master for it to function.

[2022-10-09 23:23] livxy opened #105 "Not showing languages?"
Hi, so I program with a lot of languages, and I mean a lot, around 30-40-ish right now... The waka-readme project does not seem to work with my project as it only shows "Python" and "Other"...?

[code]

![image](https://user-images.githubusercontent.com/67598470/194784206-5cc570c4-4c49-4fc8-ab0c-3b5a28771097.png)

I'm not sure what I did wrong but here is the following links for easy accessibility

[2022-10-10 01:11] livxy commented on #105
Issue possibly fixed?

[Rename update-readme.yml to waka-readme.yml](https://github.com/livxy/livxy/commit/fd795d583636db684f2e63481a1f4bf55d6c4131)
⬇️
[Update waka-readme.yml](https://github.com/livxy/livxy/commit/1d1978e62154e1ac8ef44466c30cabf8f1888a0a)
⬇️
finally: [Updated waka-readme graph with new metrics](https://github.com/livxy/livxy/commit/428ac881c66967e605a19f1002369818ef5f103a)

[2022-10-10 01:12] #105 closed

[2022-10-10 01:13] imhuay commented on #104
Thank you for your explanation.

[2022-10-10 01:17] CodeByAidan opened #106 "[feature]: Ability to show more languages"
Would there be any possibility for more languages to show in the box instead of having a max of 5?

I work with many languages and I would find it cool to present like 10 languages instead of having the top 5 and then having 50% be in the 'Other' category.

Thanks!

[2022-10-10 02:47] joe733 commented on #104
Related #103

[2022-11-22 03:49] sinlov opened #107 "build error at python3.11 ImportError: cannot import name 'formatargspec' from 'inspect' (/usr/local/lib/python3.11/inspect.py)"
- see the error log below

[code]

[2022-11-24 02:04] #107 closed